{{#each items as |item|}}
  <section data-id="{{item.id}}" class="item">
    <h6>Title:</h6>
      <p class="item-info">
        {{#if item.name}}
          {{item.name}}
        {{else}}
          No name provided
        {{/if}}
      </p>
      <form class="update-item" data-id="{{item.id}}">
        <input placeholder="Update item" name="item[name]" type="text">
        <button class="submit" data-id="{{item.id}}">Create Item</button>
      </form>
    <h6>Size:</h6>
      <p class="item-info">
        {{#if item.size}}
          {{item.size}}
        {{else}}
          No size provided.
        {{/if}}
      </p>
      <form class="update-task" data-id="{{item.id}}">
        <input placeholder="Update size" name="item[size]" type="text">
        <button class="sumbit" data-id="{{item.id}}">Submit changes</button>
      </form>
    <h6>Category:</h6>
      <p class="item-info">
        {{#if item.category}}
          {{item.category}}
        {{else}}
          No category provided.
        {{/if}}
      </p>
      <form class="update-task" data-id="{{item.id}}">
        <input placeholder="Update Category" name="task[category]" type="text">
        <button class="submit" data-id="{{task.id}}">Submit changes</button>
      </form>
      <h6>Zip_code:</h6>
        <p class="item-info">
          {{#if item.zip_code}}
            {{item.zip_code}}
          {{else}}
            No Zip provided.
          {{/if}}
        </p>
        <form class="update-task" data-id="{{item.id}}">
          <input placeholder="Update zip_code" name="item[zip_code]" type="text">
          <button class="sumbit" data-id="{{item.id}}">Submit changes</button>
        </form>
    <button class="btn btn-danger delete" data-id="{{item.id}}">Delete item</button>
  </section>

{{/each}}
